@charset "utf-8";
/* CSS Document */

body{ font-family: 'Inter', sans-serif;}

.auth-body-bg{background:#fff;}

.card{ box-shadow:1px 0 20px rgb(0 0 0 / 10%);}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 0px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}


/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}



/*progressbar*/

ul#progressbar{ display:flex; justify-content: center;}
#progressbar {
  margin-bottom: 0px;
  overflow: hidden;
 padding: 0px;
  display: flex;
 justify-content: center;
}

h4.text-center.font-size-18.mb-3 {
    font-size: 30px;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 23.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: "\f111";
    font-family: 'FontAwesome';
    width: 23px;
   height: 23px;
    display: block;
	padding: 4px 4px;
    font-size: 9px;
    color: #EAECF0;
    background: white;
    border-radius: 50px;
    margin: 0 auto 5px auto;
    text-align: center;
    border: 1px solid #EAECF0;
}

#progressbar li.active:after{
	
background:#1570EF;	
	
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #EAECF0;
  position: absolute;
  left: -50%;
  top: 11px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
 
  color: #1570EF;
	border-radius: 50px;
}

#progressbar li.active:before {
    color: #1570EF;
    border-radius: 50px;
    background: #e1edfd;
    border: 0;
    content: "\f192";
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 16px;
     line-height: 12px; 
    padding: 5px 1px;
}


.custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}


/*Color number of the step and the connector before it
#progressbar li.active:before, #progressbar li.active:after {
    background: #fff;
    font-family: FontAwesome;
    border: 1px solid blue;
    content: "\f00c";
    position: relative;
    color: blue;
    border-radius: 50%;
    left: 0px;
    line-height: 25px;
    height: 30px;
    top: 1px;
    width: 30px;
    margin: 0 auto 2px auto;
    padding: 2px
    
}

*/

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px; 
}


	
.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}	
	
	
	.wrapper-page {
   margin: 5.5% auto;
    max-width: 460px;
    position: relative;
		margin-bottom: 0px;
}

/*form-style login
*/

i.dripicons-arrow-thin-right, i.dripicons-arrow-thin-left{ vertical-align: middle; line-height: 2px;}

.card-body form label {
    color: #344054;
    font-size: 14px;
}

i.dripicons-plus.font-size-20.vertical-align-top{
    vertical-align: sub;
}
.card-body .form-control, .card-body .form-select {
	font-size: 16px;
	color:#667085;
    border-radius: 8px;
    height: 44px;
    border: 1px solid #D0D5DD;
}
.previous {
    margin-right: 8%;
}
.custom-btn{ float:right; height: 44px; width:190px; box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px; }


/*<!--header-->*/


.user-name{ color:#344054}

i.ri-truck-line {
    font-size: 24px;
  colorr:#344054;
	}
.badges-new li:first-child {
    padding: 0 10px;
	padding-right: 0px;
}
	
	.metismenu.list-unstyled {
    border-right: 1px solid #e8e8e8;
}
	
	.page-content {
    background: #fff;
}
	.vertical-middle{vertical-align: middle;}	
	.badges-new li {list-style-type: none; padding: 0 5px; display: inline-block;}
	.badges-new{ 
		
	border: 1px solid #d9d9d9;
    padding: 0.1rem 0px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
		margin-left:20px;
	}
	
	.badges-new li:last-child { padding-right: 12px;}
	
	.bg-gray{ background:#667085;}
	.bg-violet{background:#875BF7;}
	.bg-orange{ background:#EF6820;}
	.custom-badges {
   width: 33px;
    /* height: 19px; */
    line-height: 12px;
   
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
		text-align: center;
    vertical-align: middle;
}
.border-right {
        border-right: 1px solid #e8e8e8;
    vertical-align: middle;
    display: block;
   
    padding-right: 8px;
}

.app-search span{z-index:1;}
	
	tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
   
  
    text-align: left;
    white-space: nowrap;
	font-family: 'Inter'
		
}

.table-background i{ vertical-align: middle;}
     .table{ border-color:#EAECF0; border:1px solid #EAECF0;  border-radius: 8px;}
    .table-background th:nth-child(1), .table-background th:nth-child(2){text-align: left !important;}
.table-background th:last-child{ text-align:center;}
	.table-background th{ font-weight: 700; font-size:12px; color:#667085; text-align: left; padding: 10px 10px;} 
.table-background thead{ background:#F2F4F7; }
.app-search .form-control{ padding-left:32px;}
    tbody, td, tfoot{ font-size:14px; font-weight: 400; vertical-align: middle;}
.navbar-header.mt-2.pb-1 {
    border-top: 1px solid #EAECF0;
    border-bottom: 1px solid #EAECF0;
}

.table-background td:last-child {
    text-align: center !important;
}

/*	search data before table
*/	
ul.badges-new li i {
    vertical-align: middle;
}
.search-data .app-search .form-control{ background:#fff;  border-radius: 8px;border:1px solid #ced4da; }
.bg-green{background:#16B364}
.custtom-btns {
      color: #fff;
    line-height: 0.9;
    padding: 5px 10px;
}
.bootom-links li{ list-style-type: none;}
.dropdown-item{ padding:.35rem .7rem; font-size: 13px;}
.dropdown-menu.dropdown-menu-end.show{
	border:1px solid  #EAECF0;
}

.custtom-btns:hover{ color:#fff;}




.border-bottom-new-color{ border-bottom:1px solid #EAECF0; padding-bottom: 15px }


.notification-item .d-flex{align-items:flex-start;}


.iconic i{ font-size:7px;}
.iconic{line-height:10px;}
.text-orangs{ color:#F04438;}

.border-color{border-color: #D0D5DD !important; border-radius: 8px;}
.color-grey{color:#667085;}

.search-data select, .search-data .form-control{ display:inline-block; border-radius: 8px; border-color: #D0D5DD; height:40px;}

#sidebar-menu ul li a i{color:#667085;}
 .table-background th:first-child {
        
        border-top-left-radius: 8px;
    }

.table-background th:last-child{
	
	 border-top-right-radius: 8px;
}


.table-background .mdi-phone-outgoing-outline::before{ color:#98A2B3;}
.table-background .ri-chat-3-line:before, .table-background  .mdi-pulse::before, .table-background .ri-map-pin-line:before{ color:#98A2B3;}
.add-button{    
	background: #1570EF;
    color: #fff;
    min-width: 130px;
    height: 40px;
    padding: 6px 14px;
	border-color: #1570ef;
}
.add-button:hover{ background: #1570EF; color:#fff;}


.add-driver label{ font-size:14px; font-weight:500;line-height: 20px;}
.add-driver form-control{ font-size:16px; font-weight:500;line-height: 20px;}

#sidebar-menu .muicon{
    display: inline-block !important;
    min-width: 1.5rem;
    padding-bottom: 0.125em;
    font-size: 1.4rem !important;
    line-height: 1.40625rem;
    vertical-align: middle;
    color: #505d69;
    -webkit-transition: all .4s;
    transition: all .4s;
    opacity: .75;
}



@media(min-width:1199px){
	
	.main-content{margin-left:180px;}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-end {
    width: 480px;
    border-radius: 8px;
} 
	
form.search-data *.col {
    padding: 0px 5px;
	width:250px;
}	
.search-data{ margin-left:0.5rem;}
.vertical-menu{ width:180px; border-right: 1px solid #e7e7e7;}
.navbar-brand-box{ width:180px; text-align: left;}	
	
}

@media(max-width:767px){
	
	form.search-data *.col {
		
		-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
   
    padding: 0px 15px;
    width: 100%;
	}
	.form-group{ margin-bottom:0.5rem;}
	
	.custom-btn {
   
    width: 48%;
    margin-bottom: 20px;
  
}
	#progressbar li{ width:33%;}
	.previous{ margin-right:10px;	}
	
}
